/* owhiteman style.css */

body{
  background-color:#FF8C8A;
  margin:0px;
  font-family:Arial;

  }

h1{
  font-size:50px;
  margin:0;
  border-color:#FF0;
  border-width:0.5px;
  border-bottom-style:solid;
}

h2{
  font-size:35px;
  margin:0;
  text-align:center;
}

h3{
  font-size:25px;
  margin:0px;
}

.paragraph-centre{
  text-align:center;
}

.disclaimer{
  font-size:10px;
  margin:0;
}

header{
  background-color:#0000FF;
  height:100px;
  width:100%;
  text-align:center;
  margin:0;
  color:#FFFF00;
}

nav{
  width:790px;
  height:40px;
  display:inline-block;
  border-right-style:solid;
  border-width:1px;
  border-color:#FF0;
  color:#F00

}

.nav-menu{
  display:inline-block;
  border-left-style:solid;
  border-width:1px;
  border-color:#FF0;
  height:40px;
  
  width:192px;

}

a:link{
  color:#FF0;
  text-decoration:none;

}

a:hover{
  color:#FF9900;

}

#article{
  background-color:#FFF4CB;
  width:700px;
  margin:auto;
  padding:45px;
}