/* Ollie Whiteman, March 2015.Styleseet for lab 5*/

html{
  color: #4d4da6;
  background-color:#f2f2ff;
  font-family:geneva, sans-serif;
}

h1{
  font-size:x-large;
  background-color: black;
  font-style:italic;
  color:maroon;
  text-align:center;
}

h2{
  font-size:large;
  text-decoration:underline; 
  
}

p{
  text-indent:50px;
  font-size:medium;
  font-family:sans-serif;
}

body{
  color:red;
  background-color:white;
  text-align:justify;
}